@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Play:wght@700&family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: no-repeat;
    background-image: url(../imagens/nike.jpg);
    background-position-x: 750PX;
    background-color: #f3f3f3;
    background-position-y: top;
    overflow: hidden;
}

.container{
    position: relative;
    padding: 40px 70px;
    background: white;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
}

.container h2{
    color: black;
    margin-bottom: 45px;
    line-height: 1rem;
    font-weight: 500;
    padding-left: 10px;
    border-left: solid 5px black;
    font-weight: bold;
}

.container .input_box{
    position: relative;
    width: 300px;
    height: 46px;
    margin-bottom: 35px;
}

.container .input_box:last-child{
    margin-bottom: 0px;
}

.container .input_box input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 300;
    font-weight: bold;
   
}

.container .input_box span{
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    color: black;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
    font-weight: bold;
}

.container .input_box input:focus ~ span,
.container .input_box input:valid ~ span{
    transform: translateY(-10px) translateY(-25px);
    font-size: 12px;
}


.container .input_box input[type="submit"]{
    width: 100px;
    background-color: black;
    color: white;
    
}

.container .input_box input[type="submit"]:hover{
    background-color: white;
    border: solid 1px black;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

